body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 12px 0px;;
  gap: 16px;
}

#container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playAgain {
  margin: 12px 0px;
}